body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

.layout{
    display:flex;
    height:100vh;
}

.sidebar{
    width:300px;
    background:#020617;
    overflow-y:auto;
    padding:20px;
    border-right:1px solid #1e293b;
}

.content{
    flex:1;
    background:#0f172a;
}

iframe{
    width:100%;
    height:100%;
    border:none;
    background:white;
}

.topic{
    margin-bottom:30px;
}

.topic-title{
    color:#38bdf8;
    font-size:22px;
    margin-bottom:10px;
}

.page-link{
    display:block;
    padding:12px;
    margin-bottom:8px;
    background:#1e293b;
    border-radius:8px;
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.page-link:hover{
    background:#334155;
}


.nested{
    display:none;
    margin-left:15px;
}

.section{
    margin-bottom:10px;
}

.section-header{

    background:#162033;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:8px;
    transition:0.3s;
}

.section-header:hover{
    background:#22304d;
}
