body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
    overflow:hidden;
}

/* MAIN LAYOUT */

.layout{
    display:flex;
    height:100vh;
}

/* SIDEBAR */

.sidebar{

    width:320px;

    background:#020617;

    overflow-y:auto;

    padding:20px;

    border-right:1px solid #1e293b;

    box-sizing:border-box;
}

/* CUSTOM SCROLLBAR */

.sidebar::-webkit-scrollbar{
    width:8px;
}

.sidebar::-webkit-scrollbar-track{
    background:#020617;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}

/* CONTENT AREA */

.content{
    flex:1;
    background:#0f172a;
}

/* RIGHT SIDE PAGE VIEWER */

iframe{
    width:100%;
    height:100%;
    border:none;
    background:white;
}

/* TITLE */

.site-title{

    font-size:42px;

    font-weight:bold;

    margin-bottom:35px;

    color:white;
}

/* TOPIC */

.topic{
    margin-bottom:25px;
}

/* TOPIC HEADER */

.topic-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

    padding:14px 16px;

    border-radius:12px;

    transition:0.3s;

    color:#38bdf8;

    font-size:24px;

    font-weight:600;
}

.topic-header:hover{

    background:#111c33;
}

/* SECTIONS */

.section{
    margin-bottom:12px;
}

/* SECTION HEADER */

.section-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#162033;

    padding:16px;

    border-radius:14px;

    cursor:pointer;

    margin-bottom:10px;

    transition:0.3s;

    font-size:18px;

    color:white;
}

.section-header:hover{

    background:#22304d;

    transform:translateX(4px);
}

/* INNER LINKS */

.page-link{

    display:block;

    padding:16px;

    margin-bottom:10px;

    margin-left:18px;

    background:#1e293b;

    border-radius:12px;

    color:white;

    text-decoration:none;

    transition:0.3s;

    font-size:17px;
}

.page-link:hover{

    background:#334155;

    transform:translateX(6px);
}

/* NESTED */

.nested{
    display:none;
}

.inner-nested{
    margin-top:10px;
}

/* ARROWS */

.arrow{

    font-size:14px;

    opacity:0.8;

    transition:0.3s;
}

/* ACTIVE LINK */

.page-link.active{

    background:#2563eb;

    color:white;
}

/* MOBILE RESPONSIVE */

@media(max-width:768px){

    .sidebar{
        width:100%;
        height:100vh;
    }

    .content{
        display:none;
    }
}
